<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">name</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" value="{{Userevent.name}}" type="text" placeholder="untitled Question" class="form-control ">  
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Phone Number</label>  
  <div class="col-md-4">
  <input id="textinput1" name="textinput1" value="{{Userevent.phone}}" type="number" placeholder="untitled Question" class="form-control ">  
  </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" for="exampleInputEmail1">Email address</label>
    <div class="col-md-4">
    <input type="email" class="form-control" value="{{Userevent.email}}" name="exampleInputEmail1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
</div>
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Options</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="checkbox">Checkbox</option>
      <option value="Radio">Radio</option>
      <option value="Textarea">Textarea</option>
    </select>
  </div>
</div>


<!-- Multiple Checkboxes -->
<section id="checkbox_groub">
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes"> Gender</label>
  <div class="col-md-4" id="container">
  <div class="checkbox">
    <label for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Male">
     Male
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Female">
      Female
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Any">
      Any
    </label>
  </div>
  </div>
</div>
</section>
<!-- Multiple Radios -->
<section id="Radio_groub">
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Gender</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="Male" checked="checked">
      Male
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="Female">
      Female
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="Any">
      Any
    </label>
  </div>
  </div>
</div>
</section>
</fieldset>
<button type="submit" id="btnSubmit" class="btn btn-primary">SAVE</button>
<a href="/view" class="button">Go to view</a>

<script type="text/javascript">
$(document).ready( function () {
  var dataset = $('#selectbasic').val()
  var age_group = $('#Radio_groub').val()
  if (dataset == "Radio"){
    $("#Radio_groub").show()
    $("#checkbox_groub").hide()
  }
  else if(dataset == "checkbox")
  {
  	$("#Radio_groub").hide()
    $("#checkbox_groub").show()

  }
  else
  {
    $("#Radio_groub").hide()
    $("#checkbox_groub").hide()
  }
  
});
</script>
<script type="text/javascript">
	$('#selectbasic').on('change', function () {
  var dataset = $('#selectbasic').val()
  var age_group = $('#Radio_groub').val()
  if (dataset == "Radio"){
    $("#Radio_groub").show()
    $("#checkbox_groub").hide()
  }
  else if(dataset == "checkbox")
  {
  	$("#Radio_groub").hide()
    $("#checkbox_groub").show()

  }
  else
  {
    $("#Radio_groub").hide()
    $("#checkbox_groub").hide()
  }
});
</script>
</body>
</html>