<!DOCTYPE html>
<html lang = "en">
   <head>
      
   </head>
   <body>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>

      
     <div class="row">
        <div class="col-lg-11">
         <a href="/" class="button">ADD User</a>
          <div class="card">
    <form id="frm-example" action="/edit" method="POST">
    <table id="example" class="table" style="width:100%">
        <thead>
            <tr>
                <th>Edit Data</th>
                <th>Delete Data</th>
                <th>Id</th>
               <th>Name</th>
               <th>Phone Number</th>
               <th>Email Address</th>
               <th>Gender</th>                     
            </tr>
        </thead>
        <tbody>
            {% for event in Userevent %}
               <tr>
                  <td><a href="{{url_for('auth.editfrom',id=event.id )}}">Edit</td>
                  <td><a href="{{url_for('auth.delfrom',id=event.id )}}">delete</td>
                  <td>{{ event.id   }} </td>
                  <td>{{ event.name }}</td>
                  <td>{{ event.email }}</td>
                  <td>{{ event.phone }}</td>
                  <td>{{ event.gender }}</td>
               </tr>
            {% endfor %}
         </tbody>
    </table>
    
    </form>
</div>  
</div></div> 
      
   </body>
</html>