<!DOCTYPE html>
<html lang = "en">
   <head>
      
   </head>
   <body>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>

      
     <div class="row">
        <div class="col-lg-11">
          <div class="card">
    <form id="frm-example" action="/edit" method="POST">
    <table id="example" class="table" style="width:100%">
        <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                <th>Id</th>
               <th>Name</th>
               <th>Phone Number</th>
               <th>Email Address</th>
               <th>Gender</th>                     
            </tr>
        </thead>
        <tbody>
            {% for event in Userevent %}
               <tr>
                  <td></td>
                  <td>{{ event.id   }} </td>
                  <td>{{ event.name }}</td>
                  <td>{{ event.email }}</td>
                  <td>{{ event.phone }}</td>
                  <td>{{ event.gender }}</td>
               </tr>
            {% endfor %}
         </tbody>
    </table>
    <div>
        <button type="submit" id="approval-btn" class="btn btn-primary btn-lg">Approve</button>
    </div>
    <div class="wrap-input100 alert" id="error_notif" style="display: none">
        <p class=text-danger>Selected users are approved.</p>
    </div>
    </form>
</div>  
</div></div> 
      
   </body>
</html>
<script>
        $(document).ready(function (){   
             var i=0;
   var table = $('#example').DataTable({
       
      'columnDefs': [{
         'targets': 0,
         'searchable':false,
         'orderable':false,
         'className': 'dt-body-center',
         'render': function (data, type, full, meta){
                i=i+1;
                // alert("i value of the elements")
                // alert(i);
             return '<input type="checkbox" name="id['+i+']" value="' 
                + $('<div/>').text(data).html() + '">';
                i=i+1;
            }

      }],
      'order': [1, 'asc']

   });
   // Handle click on "Select all" control
   $('#example-select-all').on('click', function(){
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({ 'search': 'applied' }).nodes();
      $('input[type="checkbox"]', rows).prop('checked', this.checked);
   });

   // Handle click on checkbox to set state of "Select all" control
   $('#example tbody').on('change', 'input[type="checkbox"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#example-select-all').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control 
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
   });
    
});
</script>
<script type="text/javascript">
   $("#approval-btn").click(function(e){
      var form = this;
      alert("form is activated");
      var i=0;
      var table = $('#example').DataTable({
       
      'columnDefs': [{
         'targets': 0,
         'searchable':false,
         'orderable':false,
         'className': 'dt-body-center',
         'render': function (data, type, full, meta){
                i=i+1;
                // alert("i value of the elements")
                // alert(i);
             return '<input type="checkbox" name="id['+i+']" value="' 
                + $('<div/>').text(data).html() + '">';
                i=i+1;
            }

      }],
      'order': [1, 'asc']

   });
      // Iterate over all checkboxes in the table
      table.$('input[type="checkbox"]').each(function(){
        alert("form checked or not idetify");
         // If checkbox doesn't exist in DOM
         // if(!$.contains(document, this)){
            
            // If checkbox is checked
            if(this.checked){
                alert("checked");
               // Create a hidden element 
               alert(this.name)
               $(form).append(
                  $('<input>')
                     .attr('type', 'hidden')
                     .attr('name', this.name)
                     .val(this.value)
               );
            // }
         } 
      });
   });

    </script>